body {
    padding: 0;
    margin: 0;
    background-color: #F9FEFF;
}

#chessBoard {
    width: 40vw;
    height: 40vw;
    margin-left: 30vw;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: repeat(8, 80px);
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 80px);
}

.light-cell {
    background-color: burlywood;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.dark-cell {
    background-color: grey;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.legalMove {
    background-color: rgb(138, 214, 138);
}

.piece-background {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 80px;
    height: 80px;
    width: 80px;
}

.moveInput {
    width: 500px;
    height:50px;
    font-size:30px;
}